/* General Reset */
body {
  font-family: 'Arial', sans-serif;
  background-color: #0D0D0D;
  color: #E0E0E0;
  overflow: hidden;
}

/* Sidebar */
.sidebar {
  margin-top: 150px;
  height: 100vh;
  position: fixed;
  background-color: #0D0D0D;
}

.sidebar h1 {
  font-size: 30px;
  font-weight: bold;
  color: #E0E0E0;
}

.sidebar h2 {
  font-size: 20px;
  font-weight: bold;
  color:#8B0000 ;
}

.closer { 
  line-height: 5px;
  margin-bottom: 30px;
}

.nav-link {
  font-size: 18px;
  color: #A7C7E7;
  text-align: left;
}

.nav-link:hover {
  background: #B22222;
  color: #0a192f;
}

/* Content */
/*.content section {
  height: 100vh;
  overflow-y: auto;
  scroll-snap-align: start;
}*/

.content section {
  position: relative;
}

.content {
  height: 100vh;
  overflow-y: auto;
  padding-top: 20px;
  scroll-snap-type: y mandatory;
}

.mjr-hdr {
  color: #8B0000 ;
  font-style: bold;
}

p {
  font-size: 18px;
  line-height: 1.6;
}

.dt-range {
  color:#A0A0A0;
  font-style: italic;
}

.cmpny {
  color: #A7C7E7 ;
}

.cmpny-exp {
  font-size: 15px;
}
