/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
  
  /* Body Styling */
  body {
    font-family: 'Arial', sans-serif;
    background-color: #000000;
    color: #ccd6f6;
    display: flex;
    height: 100%;
    overflow: hidden;
  }
  
  /* Layout */
  .container {
    display: flex;
    width: 100%;
    /*margin-top: 60px;*/
    /*margin-bottom: 60px;*/
  }
  
  /* Sidebar (Fixed Left Section) */
  .sidebar {
    width: 450px;
    margin-left: 50px;
    margin-top: 200px;
    background-color: #000000;
    color: #ffffff;
    padding: 40px 20px;
    position: fixed;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .e-body {
    margin-bottom: 20px;
    font-size: 16px;
  }
  
  .logo {
    font-size: 40px;
    font-weight: bold;
  }

  .degree {
    font-size: 25px;
    color:rgb(145, 1, 29);
  }
  
  nav ul {
    list-style: none;
    margin-top: 30px;
  }
  
  nav ul li {
    margin: 15px 0;
  }
  
  nav ul li button {
    background: none;
    color: #ffffff;
    border: none;
    font-size: 18px;
    cursor: pointer;
    transition: color 0.3s;
  }
  
  nav ul li button:hover {
    color: #8892b0;
  }
  
  /* Footer */
  footer {
    font-size: 14px;
    color: #8892b0;
    margin-top: auto;
    /*margin: 50px;*/
  }
  
  /* Scrollable Content */
  .content {
    margin-left: 450px; /* Matches sidebar width */
    padding: 60px;
    height: 100vh;
    overflow: scroll;
    overflow-x: hidden;
  }

  .content-abt {
    font-size: 16px;
  }

  .column {
    float: left;
    /*width: 30%;*/
  }

  .left {
    width: 30%;
    color:rgb(145, 1, 29);
  }

  .right {
    width: 70%;
  }
  
  section {
    margin-bottom: 80px;
  }
  
  h2 {
    font-size: 28px;
    color: #ffffff;
    margin-bottom: 10px;
  }
  
  p {
    font-size: 18px;
    color: #ccd6f6;
    line-height: 1.5;
  }
  